{
  "log": {
    "level": "info"
  },
  "inbounds": [
    {
      "type": "tuic",
      "tag": "tuic-in",
      "listen": "::",
      "listen_port": $SINGBOX_TUIC_PORT,
      "users": [
        {
          "uuid": "$SINGBOX_TUIC_UUID",
          "password": "$SINGBOX_TUIC_PASSWORD"
        }
      ],
      "congestion_control": "bbr",
      "tls": {
        "enabled": true,
        "server_name": "$MYSITE",
        "certificate_path": "/etc/ssl/cert.pem",
        "key_path": "/etc/ssl/key.pem"
      }
    },
    {
      "type": "anytls",
      "tag": "anytls-in",
      "listen": "::",
      "listen_port": $SINGBOX_ANYTLS_PORT,
      "users": [
        {
          "name": "$SINGBOX_ANYTLS_USERNAME",
          "password": "$SINGBOX_ANYTLS_PASSWORD"
        }
      ],
      "tls": {
        "enabled": true,
        "server_name": "$MYSITE",
        "certificate_path": "/etc/ssl/cert.pem",
        "key_path": "/etc/ssl/key.pem"
      }
    }
  ],
  "outbounds": [
    {
      "type": "freedom",
      "tag": "direct"
    },
    {
      "type": "socks",
      "tag": "warp",
      "server": "$SINGBOX_WARP_SERVER",
      "server_port": $SINGBOX_WARP_PORT
    }
  ],
  "route": {
    "rules": [
      {
        "action": "sniff"
      },
      {
        "domain_suffix": [
          "google.com",
          "googleapis.com",
          "googleusercontent.com",
          "gstatic.com"
        ],
        "action": "route",
        "outbound": "warp"
      },
      {
        "domain_suffix": [
          "openai.com",
          "chatgpt.com"
        ],
        "action": "route",
        "outbound": "warp"
      }
    ],
    "final": "direct"
  }
}
